* {
  margin: 0px auto;
}

img {
  height: 200px;
  width: 250px;
  display: inline-block;
  margin: 20px 0px 20px 33px;
}

.wrapper {
  width: 600px;
  background-color: black;
}

div {
  color: white;
}

h1 {
  margin: 20px 10px 20px 20px;
}

p {
  margin-left: 20px;
}
